/*-----------*/

#return-to-top a {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background-color: rgba(255, 0, 0, 1) !important;
    border: 0.25px solid red;
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: underline;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
}
#return-to-top a i {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-top: 0.4rem !important;
}

#return-to-top a:hover, 
#return-to-top a:active {
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(255, 0, 0, 1) !important;
    cursor: default !important;
}

/*-----------*/

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success.checkbox-inline label,
.has-success.checkbox label,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.radio-inline label,
.has-success.radio label{color:#3c763d
}
.has-success .form-control{border-color:#3c763d;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-success .form-control:focus{border-color:#2b542c;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168
}
.has-success .input-group-addon{color:#3c763d;
border-color:#3c763d;
background-color:#dff0d8
}
.has-success .form-control-feedback{color:#3c763d
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning.checkbox-inline label,
.has-warning.checkbox label,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.radio-inline label,
.has-warning.radio label{color:#8a6d3b
}
.has-warning .form-control{border-color:#8a6d3b;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-warning .form-control:focus{border-color:#66512c;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b
}
.has-warning .input-group-addon{color:#8a6d3b;
border-color:#8a6d3b;
background-color:#fcf8e3
}
.has-warning .form-control-feedback{color:#8a6d3b
}
.has-error .checkbox,.has-error .checkbox-inline,.has-error.checkbox-inline label,.has-error.checkbox label,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.radio-inline label,.has-error.radio label{color:#a94442
}
.has-error .form-control{border-color:#a94442;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-error .form-control:focus{border-color:#843534;
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}
.has-error .input-group-addon{color:#a94442;
border-color:#a94442;
background-color:#f2dede
}
.has-error .form-control-feedback{color:#a94442
}

/*-----------*/

.max-w-960 {
  max-width: 960px !important;
}
.max-w-720 {
  max-width: 720px !important;
}
.max-w-480 {
  max-width: 480px !important;
}

/*-----------*/

.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: inherit !important;
    display: inline-block !important;
    line-height: 1 !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    text-decoration: inherit !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    direction: ltr !important;


    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased !important;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility !important;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale !important;

    /* Support for IE. */
    font-feature-settings: 'liga' !important;
}
